body{
  /* background:linear-gradient(30deg, rgb(103, 102, 102),#a8c4cf ,#F39C12); */
  background-color:black;
}
.hbar{
  display: flex;
  flex-direction: row;
  color:white;
  
  margin-left: 50px;

}
.hbar h1{
  color:rgb(255, 196, 0);
}
.hbar ul{
  display: flex;
  flex-direction:row;
  justify-content: right;
  gap: 120px;
  margin:auto;
  margin-left:50px;
  font-weight: 500;
  list-style: none;
  
}
.hbar ul li:hover{
  color: aqua;
  font-size: large;
  font-weight: 700;
}
.hred{
  color: red;;
}

.herotxt{
  position:sticky;
  color:rgb(233, 121, 9);
  position: relative;
  font-size: 80px;
}

.main-nav{
  display: flex;
}
.hbar{
  display: flex;
  justify-content: center;
}

.h-txt button{
  margin-left: 35px; 
  height: 40px;
  font-size: larger;
  border-radius:15px;
  background: #27dad1;
 }



.h-txt{
  text-align: left;
  margin: auto ;
  margin-left: 85px;
}

.h-txt p{
  font-size: x-large;
  font-style: italic;

}

.main-hero{
  display: flex;
  text-align: center;
  justify-items: center;
  height:86vh;
}

.main-hero img{
  margin: 45px 0px;
  margin-right: 85px;

  height: 450px;
  width: 450px;

  border-radius: 50%;
}

@keyframes linear-anime {
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(15px);
  }
  
}

.skills{
  text-align: center;
  
}
.skills h1{
  color: yellow;
}

.Skills-bar{
  width: 100%;
  display: flex;
  margin: 45px 0px;
  justify-content: space-around;
  animation: linear-anime 10s ;
}

.img-b:hover{
  img{
    margin:5px 45px;
    height: 60px;
    width:60px
  }
  p{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    color: azure;
  }
}


.Skills-bar img{
  height:50px;
  width:50px;
  
}

@keyframes anime-scroll{
  0%{
    opacity: 0;
    background: #000;
    transition: ease-in;
    width: 0px;
    height:0px
  }
  25%{
    opacity: 0.25;
  }
  50%{
    opacity: 0.5;

  }
  75%{
    opacity: 0.75;
  }
  100%{
    opacity: 1;
    height: 100%;
    width: 100%;
  }


}

.contact-section{
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 80vh;
  
  background-color: rgb(122, 122, 122);
  /* animation: anime-scroll 3s linear 2s; */
}

.contact-section:hover{
  animation: anime-scroll ;

}
.contact-section h1{
  color:rgb(255, 196, 0);
}

.contact-quote{
  font-size: x-large;
  font-style: italic;
}

.Contact-form{
  border-radius: 25px;
  margin: 2px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  gap: 45px;
  
}
.Contact-form input{
  border-radius: 25PX;
  border-style: none;
  font-size: 20px;
  height: 45px;
  width: 400px;
  padding: 0 10px;
  background-color: bisque;
}

#message-block{
  height: 85px;
  border-style: hidden;
  padding: 10px 10px;
  background-color: bisque;
  border-radius: 25PX;
  font-size: 20px;
}



.Contact-form button{
  border-radius: 25px;
  background-color:rgb(0, 153, 255) ;
  min-width: 100px;
  max-width: 200px ;
  align-items: center;
  border-style: hidden;
  height: 45px;
  margin: 0px auto;
}


.contact-sec{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contact-img img{
  height: 500px;
  width: 500px;
  position:relative;
  top: -80px;

}

.footer-section{
  text-align: center;
  background-color: rgb(83, 83, 83);
}

.footer-section h1{
  color:rgb(255, 196, 0);
}

.details p{
 font-size: large;
 margin: auto;
}

#f-line{
  font-size: large;
  height: 3px;
  background-color: white;
}

.f-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  right: 25px;
  gap: 45px;
}
.social img{
  height :50px;
  width: 50px;
}